textarea, button, input {
  font-size: inherit;
  font-family: inherit;
}
button {
  border: 0;
  padding: 8px;
  cursor: pointer;
}
form:invalid button[type="submit"], button:disabled {
  cursor: unset;
}
body {
  margin: 80px 0 0;
  overflow-x: hidden;
  background-color: #fafafa;
  color: black;
}
body.dark-theme {
  background-color: #303030;
  color: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 0 16px;
  background-color: inherit;
  z-index: 3;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.dark-theme > header {
  box-shadow: 0 0 10px rgba(0,0,0,.4);
}
header h1, header h2 {
  font-size: 24px;
  flex-grow: 1;
}
header button {
  height: 56px;
  width: 56px;
}

main {
  padding: 0 3%;
}

/***** RP MESSAGES *****/
.message {
  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 20px auto 0;
  word-wrap: break-word;
  position: relative;
}
.message blockquote {
  line-height: 1.6;
  margin: 0;
}
.message:not(.editing) textarea,
.message:not(.editing) .confirm-edit-button,
.message:not(.editing) .cancel-edit-button,
.message[data-rev="1"] .history-button,
.message:not(.chara) .chara-name {
  display: none;
}
.message .edit-button {
  position: absolute;
  top: 1px;
  right: 48px;
}
.message .history-button {
  position: absolute;
  top: 1px;
  right: 80px;
}
.message time {
  position: absolute;
  top: 10px;
  right: 160px;
}
/** N a r r a t o r **/
.message.narrator {
  background-color: white;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 32px 16px;
}
.dark-theme .message.narrator {
  background-color:#444;
}
/** C h a r a **/
.message.chara {
  margin-top: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 16px 16px 16px 0;
  padding: 24px 8px 12px;
}
.message.chara .chara-name {
  position: absolute;
  left: 25px;
  top: -13px;
  z-index: 1;
  background-color: inherit;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 4px 14px;
  font-size: 95%;
  letter-spacing: 1px;
  word-spacing: 1px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.03);
}
.dark-theme .message-chara {
  border-color: rgba(255,255,255,0.3);
}
.message.chara blockquote {
  background-color: white;
  color: black;
  opacity: 0.8;
  border-radius: 12px 12px 12px 0;
  padding: 8px;
}
.dark-theme .message.chara blockquote {
  background-color: black;
  color: white;
  opacity: 0.6;
}


/***** SEND BOX: the box where you type stuff in to send as a message *****/
#send-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 1px rgba(0,0,0,0.15);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.dark-theme #send-box {
  border-color: rgba(255,255,255,0.4);
}

@media (max-width: 719px) {
  #send-box {
    border-width: 1px 0 0 0;
  }
}
@media (min-width: 720px) {
  #send-box {
    width: 700px;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
  }
}
@media (min-width: 1024px) {
  #send-box {
    right: 320px;
  }
}
#send-box #change-chara {
  display: block;
  height: 48px;
  flex-grow: 1;
  text-align: left;
  font-size: 120%;
  padding: 8px;
}
#send-box .icon-button {
  display: block;
  width: 40px;
  height: 40px;
}
@media (min-width: 720px) {
  #send-box #change-chara {
    padding-left: 50px;
  }
  #send-box .icon-button:last-of-type {
    margin-right: 50px;
  }
}
#send-box button {
  background-color: transparent;
}
#send-box textarea {
  border: none;
  border-top: inherit;
  resize: none;
  width: 100%;
  padding: 8px;
  background-color: rgba(255,255,255,0.8);
  color: black;
  max-height: calc(30vh - 50px);
}
.dark-theme #send-box textarea {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
#send-box button[type="submit"] {
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  left: unset;
  width: 48px;
  background-color: transparent;
}
#send-box :invalid ~ button[type="submit"] {
  opacity: 0.26;
}
@media (min-width: 720px) {
  #send-box textarea {
    padding-left: 50px;
    padding-right: 90px;
  }
  #send-box button[type="submit"] {
    padding-right: 50px;
    box-sizing: content-box;
  }
}

/***** DRAWERS, which are panels that pop in from the side of the page. For example, the character-selector drawer *****/
.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 80%;
  background-color: inherit;
  z-index: 5;
  transition: transform 0.2s cubic-bezier(.25,.8,.25,1);
  padding-top: 64px;
  transform: translate(0px, 0px);
}
@media (max-width: 400px) {
  .drawer {
    transition: transform 0.4s cubic-bezier(.25,.8,.25,1);
  }
}
.drawer.drawer-right {
  right: -320px;
}
.drawer.drawer-left {
  left: -320px;
}
.drawer.open {
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}
.drawer.drawer-right.open {
  transform: translate(-320px, 0px)
}
.drawer.drawer-left.open {
  transform: translate(320px, 0px)
}
@media (min-width: 1024px) {
  .drawer.drawer-dock-1024 {
    box-shadow: unset;
    z-index: 4;
    transform: unset !important;
    flex: 0 0 320px;
    right: 0;
  }
  .drawer.drawer-dock-1024.drawer-right {
    order: 1;
  }
  .drawer.drawer-dock-1024.drawer-left {
    order: -1;
  }
  .drawer.drawer-dock-1024 .close-button {
    display: none;
  }
  .drawer.drawer-dock-1024 header {
    box-shadow: none;
  }
  body {
    margin-right: 320px;
  }
}

.drawer-body {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 8px;
}
.drawer-body > hr {
  border: none;
  border-top: solid 1px;
  border-top-color: rgba(0,0,0,.12);
  display: block;
  margin: 0;
}
.dark-theme .drawer-body > hr {
  border-top-color: rgba(255,255,255,.12);
}
.drawer-body > :not(hr) {
  /* reset */
  background: none;
  border: none;
  text-align: left;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  /* styles */
  width: 100%;
  height: 48px;
  min-height: 48px;
  line-height: 48px;
  padding: 0 40px 0 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.drawer-body > :not(hr):first-letter {
  font-size: 22px;
  transform: translateY(52px);
  letter-spacing: 8px;
}
.drawer-body > * > input[type="checkbox"] {
  position: absolute;
  right: 20px;
  top: 18px;
}
.drawer-body > * > button,
.drawer-header > * > button {
  position: absolute;
  right: 4px;
  top: 4px;
}
.drawer-body > .selected {
  box-shadow: inset 10px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.dark-theme .drawer-body > .selected {
  box-shadow: inset 10px 0 5px -5px rgba(255, 255, 255, 0.5);
}

/***** OVERLAYS, which cover and darkens the rest of the UI when a dialog/drawer is open *****/
.overlay {
  position: fixed;
  background-color: rgba(0,0,0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.drawer .overlay {
  transition: opacity 0.2s cubic-bezier(.25,.8,.25,1);
  opacity: 1;
}
.drawer:not(.open) .overlay {
  opacity: 0;
  width: 0;
}
.dark-theme .overlay {
  background-color: rgba(189,189,189,.6);
  color: black;
}
@media (min-width: 1024px) {
  .drawer-dock-1024 .overlay.overlay-drawer {
    display: none;
  }
}
.drawer-right .overlay.overlay-drawer {
  left: -99999px;
  right: 320px;
}
.drawer-left .overlay.overlay-drawer {
  left: 320px;
  right: -99999px;
}
@media (max-width: 400px) {
  .drawer-right .overlay.overlay-drawer {
    right: 80vw;
  }
  .drawer-left .overlay.overlay-drawer {
    left: 80vw;
  }
}

/***** CHARA ICONS, the subtle shadows so the colored icons for charas don't blend into the background *****/
.chara-icon-shadow {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.dark-theme .chara-icon-shadow {
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

/***** Generated action tags in messages *****/
.message-star-tag {
  padding: 0.1em 0.3em;
  border-radius: 8px;
  opacity: 0.9;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow:2px 2px 4px rgba(0,0,0,0.03);
}
.message-star-tag::before,
.message-star-tag::after {
  content: '*';
}