textarea, button, input {
  font-size: inherit;
  font-family: inherit;
}
button {
  border: 0;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
form:invalid button[type="submit"], button:disabled {
  cursor: unset;
}
body {
  margin: 0;
  padding-top: 80px;
  overflow-x: hidden;
  background-color: #fafafa;
  color: black;
}
body.dark-theme {
  background-color: #303030;
  color: white;
}

a {
  word-break: break-word;
  text-decoration: none;
  color: #7c4dff;
  border-bottom: 1px dotted #7c4dff;
}
.dark-theme a {
  color: #ffc107;
  border-bottom-color: #ffc107;
}
a.button {
  display: inline-block;
  color: inherit;
  border-bottom: unset;
  text-align: center;
  vertical-align: middle;
}


/***** PRETTY OUTLINED BUTTONS *****/
.text-button {
  width: 90px;
  background-color: inherit;
  border: solid 1px black;
  border-radius: 2px;
  padding: 5px;
  color: black;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
}
.text-button:disabled {
  opacity: 0.4;
  cursor: auto;
}
.text-button:not(:last-of-type) {
  margin-right: 10px;
}
.dark-theme .text-button {
  border-color: white;
  color: white;
}
.text-button:hover:not(:disabled) {
  background-color: rgba(128,128,128,0.3);
}


/***** ICON BUTTONS: icons you can click on, used throughout the page *****/
.icon-button {
  color: inherit;
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color .4s cubic-bezier(.25,.8,.25,1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-button:active,
.icon-button:focus {
  background-color: rgba(128,128,128,0.5);
}
.icon-button:disabled {
  cursor: auto;
  opacity: 0.26;
}

/*******
Because index.html functions as both the chat page and the
archive page, we basically just use data-page=chat|archive
to determine elements that should show up on only one of
those pages. This hides all specific elements until the
JS removes all irrelevant elements, and then removes the
data-page attribute from every element.
********/
[data-page] {
  display: none !important;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 0 4px;
  background-color: inherit;
  z-index: 30;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.dark-theme > header {
  box-shadow: 0 0 10px rgba(0,0,0,.4);
}
header h1, header h2 {
  font-size: 24px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
header h1:first-child {
  padding-left: 56px;
}
header h1:last-child {
  padding-right: 56px;
}
header button, header a.button {
  font-size: 32px;
  height: 56px;
  line-height: 56px;
  width: 56px;
  padding: 0;
}
@media (min-width: 1024px) {
  body > header {
    padding-right: 320px;
  }
}

#pager {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  padding: 5px;
  z-index: 29;
  text-align: center;
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.dark-theme #pager {
  background-color: #555;
}
#pager form {
  display: inline-block;
}
#pager input {
  width: 3rem;
  text-align: right;
}
#pager a:not([href]) {
  visibility: hidden;
}

aside.error {
  display: block;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 300px;
  padding: 10px;
  color: white;
  background-color: orange;
  z-index: 35;
}
aside.error:empty {
  display: none;
}

main {
  padding: 0 3% 0;
}
#pager ~ main {
  padding-top: 40px;
}

#no-messages:not(:only-child) {
  display: none;
}

.notice {
  margin: 3vh auto 0;
  padding: 10px;
  text-align: center;
}

/***** RP MESSAGES *****/
.message {
  display: block;
  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 20px auto 0;
  word-wrap: break-word;
  position: relative;
}
.message blockquote {
  line-height: 1.6;
  margin: 0;
}
.message textarea {
  width: 100%;
  box-sizing: border-box;
}
.message:not(.editing) form,
.message.editing .edit-button,
.message.editing blockquote,
.message[data-rev="1"] .history-button,
.message:not([data-who|=c]) .chara-name {
  display: none;
}
.message .edit-button {
  position: absolute;
  top: -9px;
  right: 15px;
  opacity: 0.5;
}
.message .history-button {
  position: absolute;
  top: 0px;
  right: 55px;
  opacity: 0.5;
}
/** N a r r a t o r **/
.message[data-who=narrator] {
  background-color: white;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 32px 16px;
}
.dark-theme .message[data-who=narrator] {
  background-color:#444;
}
/** C h a r a **/
.message[data-who|=c] {
  margin-top: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 16px 16px 16px 0;
  padding: 24px 8px 12px;
}
.message[data-who|=c] .chara-name {
  position: absolute;
  left: 25px;
  top: -13px;
  z-index: 10;
  background-color: inherit;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 4px 14px;
  font-size: 95%;
  letter-spacing: 1px;
  word-spacing: 1px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.03);
}
.dark-theme .message[data-who|=c] {
  border-color: rgba(255,255,255,0.3);
}
.message[data-who|=c] blockquote {
  background-color: white;
  color: black;
  opacity: 0.8;
  border-radius: 12px 12px 12px 0;
  padding: 8px;
}
.dark-theme .message[data-who|=c] blockquote {
  background-color: black;
  color: white;
  opacity: 0.6;
}
/** O O C **/
.message[data-who=ooc] {
  padding: 4px 16px;
  background-color: rgba(120,120,120,0.1);
}
.message[data-who=ooc] + .message[data-who=ooc] {
  margin-top: 0;
}
.message .user-name {
  display: none;
}
.message[data-who=ooc] .user-name {
  display: inline;
  border: solid 1px gray;
  border-radius: 6px;
  padding: 1px 5px;
}
.message[data-who=ooc] .user-name::after {
  content: ':'
}
.message[data-who=ooc]:not(.editing) blockquote {
  display: inline;
}
.message[data-who=ooc]:not(.editing) blockquote::before {
  float: right;
  content: "\00a0\00a0";
  display: inline-block;
  width: 110px;
/*   background-color: red; */
}
.message[data-who=ooc]:not(.editing)[data-rev="1"] blockquote::before {
  width: 40px;
}
/** IMAGE **/
.message img {
  display: block;
  margin: auto;
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}
/* .message.message-image button,
.message.message-image a {
  background-color: inherit;
} */



/***** SEND BOX: the box where you type stuff in to send as a message *****/
#send-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 1px rgba(0,0,0,0.15);
  box-shadow: 0 15px #fafafa;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: inherit;
  z-index: 30;
}
.dark-theme #send-box {
  border-color: rgba(255,255,255,0.4);
  box-shadow: 0 15px #303030;
}

@media (max-width: 719px) {
  #send-box {
    border-width: 1px 0 0 0;
  }
}
@media (min-width: 720px) {
  #send-box {
    width: 700px;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
  }
}
@media (min-width: 1024px) {
  #send-box {
    right: 320px;
  }
}
#send-box .change-chara {
  display: block;
  height: 48px;
  flex-grow: 1;
  text-align: left;
  font-size: 120%;
  padding: 8px;
}
@media (max-width: 1023px) {
  #send-box .change-chara::after {
    content: '(Change...)';
    font-style: italic;
    font-size: 85%;
    opacity: 0.7;
    padding-left: 16px;
  }
}
@media (min-width: 720px) {
  #send-box .change-chara {
    padding-left: 50px;
  }
  #send-box :nth-last-child(3) {
    margin-right: 55px;
  }
}
#send-box textarea {
  border: none;
  border-top: inherit;
  resize: none;
  width: 100%;
  padding: 8px;
  padding-right: 56px;
  background-color: rgba(255,255,255,0.8);
  color: black;
  max-height: calc(30vh - 50px);
}
.dark-theme #send-box textarea {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
#send-box button[type="submit"] {
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  left: unset;
  width: 48px;
  background-color: transparent;
}
#send-box:invalid button[type="submit"] {
  opacity: 0.26;
}
@media (min-width: 720px) {
  #send-box textarea {
    padding-left: 50px;
    padding-right: 90px;
  }
  #send-box button[type="submit"] {
    padding-right: 50px;
    box-sizing: content-box;
  }
}
#send-box.narrator .chara-name::before {
  content: '📖 Narrator';
}
#send-box.ooc .chara-name::before {
  content: '💬 Out of Character';
}

/***** DRAWERS, which are panels that pop in from the side of the page. For example, the character-selector drawer *****/
.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 320px;
  width: 80%;
  background-color: inherit;
  z-index: 50;
  transition: transform 0.2s cubic-bezier(.25,.8,.25,1);
  padding-top: 64px;
  transform: translate(0px, 0px);
}
@media (max-width: 400px) {
  .drawer {
    transition: transform 0.4s cubic-bezier(.25,.8,.25,1);
  }
}
.drawer.drawer-right {
  right: -320px;
}
.drawer.drawer-left {
  left: -320px;
}
.drawer.open {
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}
.drawer.drawer-right.open {
  transform: translate(-320px, 0px)
}
.drawer.drawer-left.open {
  transform: translate(320px, 0px)
}
@media (min-width: 1024px) {
  .drawer.drawer-dock-1024 {
    box-shadow: unset;
    z-index: 40;
    transform: unset !important;
    right: 0;
  }
  .drawer.drawer-dock-1024 .close-button {
    display: none;
  }
  .drawer.drawer-dock-1024 header {
    box-shadow: unset;
    width: 320px;
  }
  .drawer.drawer-dock-1024.drawer-right ~ main {
    margin-right: 320px;
  }
  .drawer.drawer-dock-1024.drawer-right ~ main {
    margin-right: 320px;
  }
}

.drawer-body {
  padding-top: 8px;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.drawer-body > hr {
  border: none;
  border-top: solid 1px;
  border-top-color: rgba(0,0,0,.12);
  display: block;
  margin: 10px 0;
}
.dark-theme .drawer-body > hr {
  border-top-color: rgba(255,255,255,.12);
}
.drawer-body > :not(hr):not(div),
.drawer-body > div > * {
  /* reset */
  background: none;
  border: none;
  text-align: left;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  /* styles */
  width: 100%;
  padding: 8px 40px 8px 20px;
  cursor: pointer;
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 40px;
}
.drawer-body form {
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
  line-height: 2;
}
.drawer-body > details > summary::-webkit-details-marker {
  display: none
}
.drawer-body > details[open] {
  background-color: rgba(128,128,128,0.2);
}
.drawer-body > :not(hr):not(div):first-letter {
  font-size: 22px;
  letter-spacing: 8px;
}
.drawer-body > * > input[type="checkbox"] {
  position: absolute;
  right: 20px;
  top: 14px;
}
.drawer-body :not(form) > button:last-child,
.drawer header > button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.drawer-body > .selected {
  box-shadow: inset 10px 0 5px -5px rgba(0, 0, 0, 0.5);
}
.dark-theme .drawer-body > .selected {
  box-shadow: inset 10px 0 5px -5px rgba(255, 255, 255, 0.5);
}
.drawer-body p {
  line-height: 1.6;
  white-space: normal;
}


/***** DIALOG BOXES *****/
.dialog {
  z-index: 60;
  background-color: inherit;
  position: fixed;
  top: 10vh;
  left: 15px;
  right: 15px;
  margin: auto;
  max-width: 300px;
  padding: 10px;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  border-radius: 2px;
}
.dialog:not(.open) {
  top: -9999px;
}


/***** OVERLAYS, which cover and darkens the rest of the UI when a dialog/drawer is open *****/
.overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
@media (max-width: 1023px) {
  .drawer.open ~ .overlay.drawer-overlay {
    z-index: 49;
    display: unset;
  }
}
@media (min-width: 1024px) {
  .drawer:not(.drawer-dock-1024).open ~ .overlay.drawer-overlay {
    z-index: 49;
    display: unset;
  }
}
.dialog.open ~ .overlay.dialog-overlay {
  z-index: 59;
  display: unset;
}
.dark-theme .overlay {
  background-color: rgba(189,189,189,.6);
}

/***** CHARA DRAWER specific styles *****/
.chara-row.editing {
  background-color: rgba(128,128,128,0.2);
}
.chara-row.editing > label,
.chara-row:not(.editing) > form {
  display: none;
}

/***** Image dialog specific styles *****/
#image-dialog h3 {
  margin: 5px 0 15px;
}
#image-dialog input[type=url] {
  width: 100%;
  box-sizing: border-box;
}
#image-dialog img {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin: 10px 0;
  
  background-image:
    linear-gradient(45deg, rgba(0,0,0,0.2) 25%, rgba(255,255,255,0.2) 25%),
    linear-gradient(-45deg, rgba(0,0,0,0.2) 25%, rgba(255,255,255,0.2) 25%),
    linear-gradient(45deg, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0.2) 75%),
    linear-gradient(-45deg, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0.2) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

/***** Generated action tags in messages *****/
.message-star-tag {
  padding: 0.1em 0.3em;
  border-radius: 8px;
  opacity: 0.9;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow:2px 2px 4px rgba(0,0,0,0.03);
}
.message-star-tag::before,
.message-star-tag::after {
  content: '*';
}
